NODE_VERSION=22
API_GATEWAY_PORT=3000
CALL_SERVICE_PORT=3001
QUEUE_SERVICE_PORT=3002

POSTGRES_DB_CALL_SERVICE=call_service
POSTGRES_USER_CALL_SERVICE=call_service
POSTGRES_PASSWORD_CALL_SERVICE=call_service
POSTGRES_PORT_LOCAL_CALL_SERVICE=5433

POSTGRES_DB_QUEUE_SERVICE=queue_service
POSTGRES_USER_QUEUE_SERVICE=queue_service
POSTGRES_PASSWORD_QUEUE_SERVICE=queue_service
POSTGRES_PORT_LOCAL_QUEUE_SERVICE=5434

API_KEY="LX3ywoCRGd0f%z*9uH"